<ul>
  <% @events.each do |event| %>
    <li>
      
    <strong> <%= event.name %></strong>
             in <%= event.location %>
             headcount: <%= headcount(event) %>
    </li>

    <p>
      <%= truncate(event.description, length: 35, separator: ' ') %>
    </p>

    <p>
    <%= event.starts_at.strftime("%B %d at %I:%M %P") %>
    </p>

  <% end %>
</ul>
